@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Montserrat&display=swap");

body {
    background-color: black;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    font-family: 'Major Mono Display', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    
}

/* GLOBAL */



  /* .section-title {
    font-size: 3em;
  } */

/* SCROLL-SNAPPING */

/* SCROLL BAR */

.scroll-snap-view::-webkit-scrollbar {
  width: 9px;
  height: 7px;
}
.scroll-snap-view::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 2px;
}
.scroll-snap-view::-webkit-scrollbar-track {
background: #262626;
}

/* SCROLL BUTTONS */

/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #ffffff;
  display: block;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  /* border-style: solid; */
  height: 12px;
  width: 15px;
}
/* Up */
.scroll-snap-view::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 10px 10px 10px;
  
  border-color: transparent transparent #262626 transparent;
}

.scroll-snap-view::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #bbbbbb transparent;
}
/* Down */
.scroll-snap-view::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 10px 10px 0 10px;
  border-color: #262626 transparent transparent transparent;
}

.scroll-snap-view::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #bbbbbb transparent transparent transparent;
}

.scroll-snap-view {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  /* For some reason, overflow: scroll doesn't detect that the view is shorter than itself.  */
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-points-y: repeat(100vh);
 
  height: 100vh;
  
}

.scroll-snap-view > .scroll-snap-child {
  scroll-snap-align: center;
}

/* GLOBAL COMPONENTS */
/* BUTTON */

.button-top {
  position: relative;
  left: 0;
  top: 0;
  padding: 18px 20px 16px 20px;
  transition: all .15s ease-in-out;
}
.button-label {
  font-family: 'Major Mono Display', monospace;
  font-weight: 600;
  font-size: 12px;
  line-height: 110%;
  letter-spacing: 2px;
  text-align: center;
  transition: all .15s ease-out;
}

/* ABOUT */


.about-section-content-grid {
  /* width: 90vw; */
  max-height: 80vh;
  transition: all .5s ease-in-out;
  overflow-y: auto; 
  display: grid;
  /* grid-template-areas: 'left right'; */
  /* grid-template-columns: 4fr 4fr; */

  grid-template-columns: repeat(auto-fit, minmax(95%, 2fr));
   /* grid-template-rows: repeat(2, auto); */
  grid-auto-flow: row;
  grid-gap: 1;
}
.about-image-carousel-column {
  /* grid-area: left; */
  grid-row: auto;

}

.about-skills-column {
  /* grid-area: right; */
  grid-row: auto;
}

/* ABOUT - CAROUSEL SECTION */
/* Wrapper */
.about-image-carousel {
  width: 100%;
  height: 100%;
  /* background-color: #161616; */
  opacity: .8;
 margin-bottom: 10px;
  
}

.about-image-carousel-invisible {
transform: translateY(10px);

  opacity: 0;

  
}

/* CAROUSEL STUFF */

.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  height: 55vh;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

}
.slides::-webkit-scrollbar {

  width: 7px;
  height: 7px;
}
.slides::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 2px;
}
.slides::-webkit-scrollbar-track {
  background: #262626;
}
.slides > div {
  scroll-snap-align: center;
  flex-shrink: 0;
  width: 95%;
  height: 100%;
  margin-right: 10px;
  background: #161616;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid gray;
  border-style: groove;

}


.carousel-img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ABOUT - SKILL SECTION  */
.skill-name {
  font-family: 'Montserrat', sans-serif;
  width: 80px;
  font-size: 10px;
  text-shadow: 1px 1px 1px gray;
  grid-area: left;
  grid-row: auto;
 transform: translateY(-70%);
  
}


 .skill-name-wrapper {
  height: 16px;
}


.skill-bar {
  
  grid-area: right;
  grid-row: auto;
  height: 60%;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  transition: all .15s ease-in-out;
  box-shadow: 2px 0px 0px black;
  opacity: .7;
  
}


.skill-slider-wrapper {
  min-width: 50vw;
  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: 1fr 5fr;
  grid-auto-flow: row;
  grid-gap: 0;
  max-width: 100%;
  border: .5px solid gray;
  margin: 0.1px;
  border-style: groove;
}

.invisible-skill-wrapper {
  opacity: 0;
  transform: translateX(-20%);

}


/* SECTION COMPONENT */
.section-children-wrapper {
  left: 50%;
  transform: translateX(-50%);
  transition: all .15s ease-in-out;
  min-width: 90%;
  max-width: 90%;
  max-height: 100%;
  height: 100vh;
  z-index: 2;
  position: absolute;
  text-align: center;
  margin: 0;

}

.section-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 5.5vh;
}


/* CONTACT SECTION  */

.social-icon-image {
  width: '25px';
   color: 'white';
}

.social-icon-color {
  fill: 'white'
}



/* WELCOME SECTION */
.welcome-statement {
  font-size: 3vw; 
  max-width: 80vw;
  height: 10vh;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30vh;
}

.section-title, .welcome-statement { 
  font-family: 'Major Mono Display', monospace;
  transition: all .15s ease-in-out;
  
}

/* PORTFOLIO SECTION */

.button-selection-grid {
  font-family: 'Major Mono Display', monospace;
  position: relative;
  color: white;
  transition: all .15s ease-in-out;
  width: 80%;
  line-height: 1.5;
  /* font-weight: 400; */
  font-size: small;
  text-align: center;
  /* top: -50%; */
  left: 50%; 
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 2px black;
  min-width: 50vw;
  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: 5fr 5fr;
  grid-auto-flow: row;
  grid-gap: 0;
  max-width: 100%;
  margin-bottom: 20px;  
  padding-top: 30px;
  height: 50px;
}

.music-portfolio-button .section-title, .software-portfolio-button .section-title {
  grid-row: auto;  
  transition: all .15s ease-in-out;
  font-size: 2em;
}
.software-portfolio-button {
  grid-area: left;
  cursor: pointer;
  opacity: .8
  
}

.music-portfolio-button {
  grid-area: right;
  cursor: pointer;
  opacity: .8
  
}

.music-portfolio-button:hover, .software-portfolio-button:hover {
  background-color: #262626;
}





.project-content-grid, .project-content-grid-hidden {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  transition: all .15s ease-in-out;
  width: 80%;
  line-height: 1.5;
  font-weight: 400;
  font-size: small;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 2px black;
  min-width: 50vw;
  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: 5fr 5fr;
  grid-auto-flow: row;
  grid-gap: 0;
  max-width: 100%;
  margin: 1px;
  
}



.project-content-grid-hidden { 
  opacity: 0;
}
.project-content-grid { 
  opacity: 1;
}

.project-media {
  grid-area: left;
  width: 100%;
   height: 166px;
  grid-row: auto;  
}

.project-description-column::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.project-description-column::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 2px;
}
.project-description-column::-webkit-scrollbar-track {

background: #262626;
}
.project-description-column {
  grid-area: right;
  grid-row: auto;
  max-height: 166px;
  transition: all .5s ease-in-out;
  overflow-y: auto;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.description-border-left {
  transform: translateX(-5px);
  height: 100%;
  background-color: #ff4242;
  width: 1px;
  position: absolute;
}

.button-border-active {
  width: 60%;
  height: 1px;
  position: absolute;
  background-color: #ff4242;
  opacity: 1;
  transition: all .25s ease-out;
  left: 50%;
  transform: translateX(-50%);
}

.button-border-disabled {
  width: 0%;
  position: absolute;
  background-color: #ffffff;
  opacity: 0;
  transition: all .25s ease-out;
  left: 50%;
  transform: translateX(-50%);
}



.media-player {
  font-size: 10px; 
  color: #262626;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  
}

.github-media {
  height: 166px;
  width: 100%;
  background-color: gray;
  opacity: .8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}



.project-name {
  position: absolute;
  font-family: 'Major Mono Display', monospace;
  width: 100%;
  line-height: 1.5;
  left: 50%;
  transform: translatex(-50%);
  margin-top: 10px;
  text-shadow: 2px 2px 2px black;
  font-size: large;
  letter-spacing: 2px;


}


/* CAROUSEL */

.carousel-button {
  color: white;
  position: absolute !important;
  font-size: 5em;
  z-index: 10;
  cursor: pointer;
  transform: translateY(-44vh);
  vertical-align: middle;
  text-shadow: 2px 2px 2px #161616;
   transition: ease-in-out .25s;
  
}

.carousel-left-button {
  left: 10px;
  opacity: .6;
}

.carousel-right-button {
  right: 10px;
  opacity: .6;
}

.carousel-left-button:hover, .carousel-right-button:hover {
 
  text-shadow: 3px 3px 5px black;
  opacity: 1;
}

@media only screen and (max-height: 570px) {
    .slides { 
    height: 50vh;
  }

  .project-media, .github-media {
   height: 30vh;
  }
.project-description-column {
 max-height: 30vh;
}
  .project-name {
    font-size: 1em
  }
  .project {
    height: 48vh !important;
  }
}


@media only screen and (max-width: 700px), screen and (max-height: 570px)  {
  .button-selection-grid {
  margin: 0;
  padding-top: 0;
  height: 20px;
}

.music-portfolio-button, .software-portfolio-button {
  height: 20px;
}


.music-portfolio-button .section-title, .software-portfolio-button .section-title {
  font-size: 1em;
  height: 20px;
  transform: translateY(-150%);

}
.carousel-button {
  font-size: 4em;
    transform: translateY(-150px);
}
.carousel-left-button {
left: 70px;
opacity: 1;

}

.carousel-right-button {
right: 70px;
opacity: 1;

}


  .skill-name {
    font-size: 8px;
    transform: translateY(-80%);
  }

   .skill-name-wrapper {
  height: 10px;
}



  .welcome-statement {
    font-size: 5vw;
  }

  .button-top {
  padding: 16px 18px 14px 18px;
  }

  .button-label {

    font-weight: 600;
    font-size: 10px;
    line-height: 110%;
    letter-spacing: 1px;
    text-align: center;
    transition: all .15s ease-out;
  }
}

@media only screen and (max-height: 650px)  {
  .carousel-button {
  font-size: 3em;
    transform: translateY(-100px);
}
  .welcome-statement {
    font-weight: 900;
    font-size: 4vw;
  }
  .button-top {
  padding: 2vh 2vw 2vh 2vw;
  }
}

@media only screen and (max-height: 420px)  {

.about-section-content-grid {
  margin-top: -20px;
}
.button-top {
  padding: 14px 16px 12px 16px;
  }

  .button-label {

    font-weight: 400;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 1px;
  }
}



@media only screen and (max-height: 420px)  {

.about-section-content-grid {
  margin-top: -20px;
}
.button-top {
  padding: 14px 16px 12px 16px;
  }

  .button-label {

    font-weight: 1000;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 2px;
  }
}


@media only screen and (max-width: 500px), screen and (max-height: 410px) {

  .section-title, .welcome-statement {
    text-shadow: 2px 2px 2px black;
  }



}

@media only screen and (max-height: 406px)  {

.button-top {
  padding: .5vh 1vw .5vh 1vw ;
  }


}
